body {
    margin: 0;
    padding: 0;
    /* background: #e5e3d9; */
    background: url(./images/leone-venter-VieM9BdZKFo-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #272727;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

#menuToggle {
    display: block;
    /* position: relative; */
    margin: 10px;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}


/* The hamburger button hidden inside an input element */
#menuToggle input {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

#menuToggle label {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.844);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 8px 8px 20px rgb(56, 56, 56);
}

#menuToggle label span {
    display: none;
}

/*
   * Hamburger
   */
#menuToggle label div {
    display: block;
    width: 30px;
    height: 5px;
    margin-bottom: 6px;
    position: relative;
    background: #404040;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
    -ms-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

#menuToggle label div:first-child {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

#menuToggle label div:nth-child(2) {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

/* 
   * Change the color of the hamburger when toggled
   */
#menuToggle input:checked+label div {
    background: #232323;
}

/*
   * Use absolute positioning to place the menu off-screen
   */
#menu {
    position: absolute;
    width: 200px;
    margin: -100px 0 0 -50px;
    padding: 25px;
    padding-top: 125px;
    padding-left: 50px;
    background: rgb(238, 238, 238);
    border-radius: 0 15px 15px 0;
    box-shadow: 20px 20px 40px rgb(56, 56, 56);
    list-style-type: none;
    /* Hide the menu off-screen to the left */
    left: -100%;
    transition: left 0.7s ease-in-out;
}

#menu li {
    padding: 10px 10px;
    font-size: 22px;
    text-align: center;
}

/*
   * Slide the menu in from left when the input is checked
   */
#menuToggle input:checked~ul {
    left: 0;
}

/* container that shows the info */
.project-center {
    min-width: 600px;
    background-color: rgba(255, 255, 255, 0.902);
    margin: 75px 100px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgb(49, 49, 49);
    padding: 32px 40px 75px;

}

.task-center {
    background-color: rgba(255, 255, 255, 0.902);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(60, 60, 60);
    padding: 15px 15px 30px;
    margin-top: 45px;
}

.task-card-grid {
    display: grid;
    grid: 75px / 2fr auto;
    border-bottom: 4px solid rgb(201, 201, 201);
}

.title-card-grid a,
.task-card-grid a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease-in-out;
}

.title-card-grid h1 {
    text-align: center;
    margin-top: 0;
}

.title-card-grid {
    display: grid;
    grid: 75px / 2fr auto;
    border-bottom: 4px solid rgb(201, 201, 201);
}


.title-card-grid a:hover {
    color: #ebebeb;
    text-shadow: 4px 4px 8px #272727;
}

.list-table {
    table-layout: auto;
    width: 40%;
    margin: 25px auto 0;
    text-align: center;
}

.list-table th {
    border-bottom: 2px solid rgb(201, 201, 201);
    text-align: center;
}

.detail-table {
    table-layout: auto;
    width: 100%;
    margin: 25px auto 0;
}

.task-detail-table {
    table-layout: auto;
    width: 100%;
}

.detail-table th,
.task-detail-table th {
    border-bottom: 2px solid rgb(201, 201, 201);
    text-align: start;
}

.detail-table td,
.task-detail-table td {
    border-bottom: 1px dotted rgb(201, 201, 201);
    text-align: start;
}

.task-link a {
    text-decoration: none;
    color: #272727;
}

.task-link a:hover {
    color: #ebebeb;
    text-shadow: 2px 2px 8px #222222;
    transition: color 0.3s ease-in-out;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin: 0;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(226, 226, 226, 0.834);
    color: rgb(28, 28, 28);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 15px;
    text-shadow: none;
    box-shadow: 10px 10px 20px rgb(56, 56, 56);

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -120px
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.task-form {
    margin: auto;
}

.login-form,
.signup-form {
    margin: auto;
    max-width: 400px;
    padding: 2em;
}

/* Standardize form layout using grid */
.task-form p,
.login-form p,
.signup-form p,
.project-form p {
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 100px 1fr;
    width: 50%;
    margin: auto;
    padding: 10px;
}

/* Standardize help text positions in the grid */
.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
    grid-column-start: 2;
    grid-column-end: 3;
}

/* Make the buttons a little larger */
.task-form button,
.my-tasks-list button,
.login-form button,
.signup-form button,
.project-form button {
    padding: 0.25em 1em;
}

.helptext {
    display: block;
    font-size: 80%;
}

.form-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}