
{% extends 'base.html' %}

{% block title %}LogIn{% endblock title %}

{% block main %}
<main class="project-center">
    <div class="title-card-grid">
        <h1>Login</h1>
    </div>
    <div class="login-form">    
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
</main>
{% endblock main %}
