{% extends 'base.html' %}

{%block title%}Sign Up{%endblock title%}

{% block main %}
    <main class="project-center">
        <div class="title-card-grid">
            <h1>Signup</h1>
        </div>
        <div class="signup-form">
            
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Signup</button>
            </form>
        </div>
    </main>
{% endblock main %}