{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'css/images/favicon.ico' %}" />
    <title>Projects{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
</head>

<body>
    <header>
        <nav role="navigation">
            <div id="menuToggle">
                <input name="toggle" type="checkbox" />
                <label for="toggle">
                    <span>menu</span>
                    <div></div>
                    <div></div>
                    <div></div>
                </label>
                <ul id="menu">
                    {% if user.is_authenticated %}
                    <a href="{% url 'list_projects' %}">
                        <li>My projects</li>
                    </a>
                    <a href="{% url 'create_project' %}">
                        <li>Create new project</li>
                    </a>
                    <a href="{% url 'show_my_tasks' %}">
                        <li>My tasks</li>
                    </a>
                    <a href="{% url 'create_task' %}">
                        <li>Add tasks</li>
                    </a>
                    <a href="{% url 'logout' %}">
                        <li>Logout</li>
                    </a>
                    {% else %}
                    <a href="{% url 'login' %}">
                        <li>Login</li>
                    </a>
                    <a href="{% url 'signup' %}">
                        <li>Signup</li>
                    </a>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    {% block main %}
    {% endblock main %}
</body>

</html>
