{% extends 'base.html' %}

{% block title %}- Your Tasks {% endblock title %}

{% block main %}
    <main class="project-center">
        <div>
            <div class="title-card-grid">
                <div>
                    <h1 class="project-title">My Tasks</h1>
                </div>
                <div>
                    <h1>
                        <a href="{% url 'list_projects'%}">
                            <div class="tooltip">x
                                <span class="tooltiptext">Close</span>
                            </div>
                        </a>
                    </h1>
                </div>
            </div>
            {% if task_list.all|length > 0 %}
                <table class="detail-table">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Task</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list %}
                            <tr>
                                <td><a href="{% url 'show_project' task.project.pk%}">{{ task.project.name }}</a></td>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date|date }}</td>
                                <td>{{ task.due_date|date }}</td>
                                {% if task.is_completed == True %}
                                    <td>Done</td>
                                {% else %}
                                    <td>
                                        <form method="post" action="{% url 'complete_task' task.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value="True"/>
                                            <button>Complete</button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock main %}