{% extends "base.html" %}

{%block title%}- Create New Task
{%endblock title%}

{% block main %}
    <main class="project-center">
        <div>
            <div class="title-card-grid">
                <div>
                    <h1 class="project-title">Create a new task</h1>
                </div>
                <div>
                    <h1>
                        <a href="{% url 'show_my_tasks'%}">
                            <div class="tooltip">x
                                <span class="tooltiptext">Cancel</span>
                            </div>
                        </a>
                    </h1>
                </div>
            </div>
            <div class="task-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-button">
                        <button type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock main %}