{% extends 'base.html' %}
{% load markdownify %}

{% block title %} Detials {% endblock title %}

{% block main %}
    <main class="project-center">
        <div>
            <div class="title-card-grid">
                <div>
                    <h1 class="project-title">{{ project.name }}</h1>
                </div>
                <div>
                    <h1>
                        <a href="{% url 'list_projects'%}">
                            <div class="tooltip">x
                                <span class="tooltiptext">Back to your projects</span>
                            </div>
                        </a>
                    </h1>
                </div>
            </div>
            <h2>Description:</h2>
            <p>{{ project.description|markdownify }}</p>
            <div class="task-center">
                <div class="task-card-grid">
                    <div class="task-link">
                        <h2>
                            <a href="{% url 'show_my_tasks' %}">
                                <div class="tooltip">Tasks
                                    <span class="tooltiptext">Go to My Tasks</span>
                                </div> 
                            </a>
                        </h2>
                    </div>
                    <div>
                        <h2>
                            <a href="{% url 'create_task' %}">
                                <div class="tooltip">+
                                    <span class="tooltiptext">Add a new Task</span>
                                </div>
                            </a>
                        </h2>
                    </div>
                </div>
                {% if project.tasks.all|length > 0 %}
                    <table class="task-detail-table">
                        <thead>
                            <tr>
                                <th>Task Name</th>
                                <th>Assignee</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in project.tasks.all %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.assignee }}</td>
                                    <td>{{ task.start_date|date:"D, M d, Y" }}</td>
                                    <td>{{ task.due_date|date:"D, M d, Y"  }}</td>
                                    <td>{% if task.is_completed == True %} yes {% else %} no {% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>This project has no tasks</p>
                {% endif %}
            </div>
        </div>
    </main>

{% endblock main %}