{% extends 'base.html' %}

{% block title %} list {% endblock title %}

{% block main %}
    <main class="project-center">
        <div>
            <div class="title-card-grid">
                <div>
                <h1>My Projects</h1>
                </div>
                <div>
                    <h1>
                        <a href="{% url 'create_project'%}">
                            <div class="tooltip">+
                                <span class="tooltiptext">Add a new Project</span>
                            </div>
                        </a>
                    </h1>
                </div>
            </div>
            {% if user.projects.all|length == 0 %}
                <p>You are not assigned to any projects</p>
            {% endif %}
            <table class="list-table">
                <thead>
                    {% if user.projects.all|length > 0%}
                        <tr>
                            <th>Project Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    {% endif %}
                </thead>
                <tbody>
                    {% for project in project_list %}
                        <tr>
                            <td><a href="{% url 'show_project' project.pk%}">{{ project.name }}</a></td>
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock main %}