{% extends 'base.html' %}

{% block title %}- Create New {% endblock title %}

{% block main%}

    <main class="project-center">
        <div>
            <div class="title-card-grid">
                <div>
                    <h1>Create a new project</h1>
                </div>
                <div>
                    <h1>
                        <a href="{% url 'list_projects'%}">
                            <div class="tooltip">x
                                <span class="tooltiptext">Cancel</span>
                            </div>
                        </a>
                    </h1>
                </div>
            </div>
            <div class="project-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-button">
                        <button>Create</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

{% endblock main %}